---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const PageTitle = 'About';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={PageTitle} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>
			About
				</h1>

			<!-- This line is reserved for use for image tag - self portrait on this page. -->
			
			<p>
            Thanks for swinging by my site! I really appreciate it. <br> <br>
				
			In the days I work in my main jobby-job in Engineering.<br>
			I am based within the South Wales area and I am a photographer who is working within a diverse range of fields. Sometimes I do landscape photography, sometimes portraits, and even a bit of wildlife thrown in there! I like a bit of variety, I think it keeps your work fresh and allows you to have a range of experiences and take you out of the comfort zone. <br> <br>
			Please take a look around my website, I hope you enjoy.
			</p>


		</main>
		<Footer />
	</body>
</html>
