---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const PageTitle = "Technical Info";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={PageTitle} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Technical Info</h1>

			<p>
               Wow, this site has been a while-in-construction.
			</p>
			<p>
				Whilst I've already began talking about the site on my <a href="/blog/first-post">my first blog post</a>, I think it's important to have one, central location for the full details on the site.
			</p>
			<p>
				This site was built using the Astro framework, which is a very powerful framework when used correctly, which I'm still learning how to do so... You may even recognize the template from the Astro docs – it is the blog template. Although I have modified the template slightly to match my needs.
			</p>
			<p>The site is then hosted using the Netlify platform, which has proven to be a big time-saver. I am really pleased with the platform and I would highly recommend them. It's great as the site can be built automatically from commits on the Git repository. This means less work for me having to manage the hosting and maintenance of servers, and more time developing and doing things.</p>
			<p>I have posted the source of the site on GitHub, should you wish to have a look at the source. <a href="https://github.com/gametours/jtyoung-me" target="_blank">Take a look here...</a></p>
		</main>
		<Footer />
	</body>
</html>
