---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const PageTitle = "Changelog";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={PageTitle} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Changelog</h1>
            <h2>Last updated: Dec 31, 2024 (happy new year!)</h2>

    <!--   TEMPLATE:

            <h3>DATE..</h3>
			<p>
            WHAT WAS DONE,,
			</p>
             -->

            <h3>Dec 31, 2024 [last for 2024]</h3>
            <p>
                <ul>
                <li>Added a change-log page to track website versions and removed blog posts for chaneglogs.</li>
                <li>Added 2024 in review blog post.</li>
                </ul>
            </p>

             <h3>Dec 29, 2024</h3>
             <p>
             <ul>
                <li>Upgraded to newer Astro version due to address vulnerability CVE-2024-56159.</li>
                <li>Changed index page content slightly.</li>
             </ul>
             </p>


             <h3>September 22, 2024</h3>
             <p>
             <ul>
                <li>Added some new blog posts (haunted school photoshoot).</li>
                <li>Slightly modified the text on the 'index' page.</li>
                <li>Introduction of the 'technical information' page, which provides details on how the site was built and how it runs.</li>
             </ul>
             </p>



		</main>
		<Footer />
	</body>
    <style>
		/* Override the H2 styles for this page ONLY. */
		h2 {
			margin-top: 16px;
			margin-bottom: 20px;
			font-size: 26px;
		}
        
        /* Override H3 styles ONLY FOR THIS PAGE: */

        h3 {
            margin-top: 28px;
            font-size: 24px;
            margin-bottom: 16px;
        }
        

	</style>
</html>
