---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Contact</h1>

			<h2>
               Want to contact me?
			</h2>
			<p>
				The best place to find me online is usually on Threads or Instagram.
			</p>
			<p>Follow me at <a href="https://instagram.com/young.jty">@young.jty on Instagram</a></p>
			<p>Or on Threads with the same handle <a href="https://threads.net/young.jty">@young.jty</a></p>
			<br>
			<p>However, if you'd like to contact me the old-fashioned way these days with email. Send a message to <a href="mailto:webmaster@jtyoung.me">webmaster@jtyoung.me</a></p>

		</main>
		<Footer />
	</body>
	<style>
		/* Override H2  element styles for this page only... */
		h2 {
			margin-top: 26px;
			margin-bottom: 26px;
			font-size: 28px;
		}

	</style>
</html>
