---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const PageName = "Licensing";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={PageName} ={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Licensing Information</h1>

			<p> <strong>
                Right, let's get serious... </strong>
			</p> 
			<p>
				The images that are seen on this website (jtyoung.me) are strictly for viewing only on the website. </p>
				<p>You may not reproduce the images seen here onto any other medium, including social media accounts without the explicit (written) permission of myself.
				All images are marked with a watermark and this must not be removed from the image.
			</p>
			<p>
				I, Joseph Young along with jtyoung.me hold all copyright to the images seen on this website.
			</p>
			<br>
			<p>
				If you would like to license any of the images seen on the website, <a href="/contact">please contact me</a>.
			</p>

		</main>
		<Footer />
	</body>
</html>
