---
const ver = "Production";
const channel = "V. 1.0 PreRelease";
---
<p>{channel}, {ver}</p>

<!-- 
THIS FILE IS USED TO DISPLAY THE VERSION ON THE FOOTER. IT WILL DISPLAY WHETHER THE SITE IS PRODUCTION OR DEVELOPMENT ALONG WITH A VERSION NUMBER
THE VERSION NUMBER SHOULD BE UPDATED EVERY MAJOR CHANGE OF THE SITE. 
-->

